
#
# Arch Modules Configuration
#
OS_ARCH_ARMV7_M=y

#
# ARM7-M Sepecfic Configuration
#
INTERNAL_OS_CORTEX_M4=y
INTERNAL_OS_PLATFORM_M4=y

#
# M4 Sepecfic Configuration
#
# end of ARM7-M Sepecfic Configuration

#
# Generic Configuration
#
OS_HARDWARE_PLATFORM="OS_CORTEX_M4"
OS_CPU_TYPE="OS_STM32F407"
OS_MAX_CORE_NUM=1
INTERNAL_OS_BYTE_ORDER_LE=y
OS_BYTE_ORDER="OS_LITTLE_ENDIAN"
# end of Generic Configuration
# end of Arch Modules Configuration

#
# Core Modules Configuration
#

#
# IPC Modules Configuration
#

#
# Event feature configuration
#
OS_OPTION_EVENT=y
# end of Event feature configuration

OS_OPTION_QUEUE=y

#
# Semaphore feature configuration
#
# end of IPC Modules Configuration

#
# Kernel Modules Configuration
#

#
# IRQ Modules Configuration
#
OS_OPTION_HWI_COMBINE=y
OS_OPTION_HWI_PRIORITY=y
OS_OPTION_HWI_ATTRIBUTE=y
OS_OPTION_HWI_MAX_NUM_CONFIG=y
# end of IRQ Modules Configuration

#
# Exc Modules Configuration
#

#
# Task module Configuration
#
OS_OPTION_TASK=y

#
# TASK features configuration
#
OS_OPTION_TASK_DELETE=y
OS_OPTION_TASK_SUSPEND=y
OS_OPTION_TASK_INFO=y
OS_OPTION_TASK_YIELD=y
# end of TASK features configuration

OS_TSK_PRIORITY_HIGHEST=0
OS_TSK_PRIORITY_LOWEST=31
OS_TSK_NUM_OF_PRIORITIES=32
OS_TSK_CORE_BYTES_IN_PID=3
# end of Task module Configuration

#
# Timer Modules Configuration
#
INTERNAL_OS_SWTMR=y
# end of Timer Modules Configuration
# end of Kernel Modules Configuration
# end of Core Modules Configuration

#
# MM Modules Configuration
#

#
# OM Modules Configuration
#
OS_OPTION_CPUP=y

#
# CPUP features configuration
#
INTERNAL_OS_CPUP_THREAD=y
OS_OPTION_CPUP_WARN=y
# end of CPUP features configuration

#
# Error Report Module Configuration
#

#
# Hook feature configuration
#
# end of OM Modules Configuration

#
# security Modules Configuration
#
OS_OPTION_RND=y
# end of security Modules Configuration

#
# Fs Modules Configuration
#
OS_SUPPORT_FS=y

#
# Fs features configuration
#
OS_SUPPORT_LITTLEFS=1
OS_LFS_MAX_OPEN_FILES=32
OS_LFS_MAX_MOUNT_SIZE=3
# end of Fs features configuration
# end of Fs Modules Configuration

#
# Net Modules Configuration
#
OS_SUPPORT_NET=y

#
# Net features configuration
#
LWIP_DHCP=0
LWIP_IPV6=1
# end of Net features configuration
# end of Net Modules Configuration

#
# Utility Modules Configuration
#
